<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= displayName %> Example - Elm-Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="<%= displayName %>. <%= sources[0].firstComment %>" />
    <style media="screen">
      @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic|Source+Code+Pro);

      * {
        box-sizing: border-box;
      }

      html, head, body {
        margin: 0;
        min-height: 100%;
      }

      body {
        font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
        color: #293c4b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
      .top {
        border-bottom: 1px solid #60B5CC;
        display: flex;
        width: 100%;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      }
      header {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: <%= width + 300 + 16 %>px;
        font-size: 24px;
      }
      h1, h2, h3 {
        font-weight: normal;

      }
      header h1 {
        margin: 0;
        line-height: 0;
        font-size: 24px;
      }
      header h1 img {
        max-width: 421px;
        width: 100%;
      }

      header h2 {
        margin: 0;
        margin-left: 20px;
        font-size: 24px;
        color: black;
      }
      a {
        color: #1184CE;
        text-decoration: none;
      }
      a:hover {
        color: rgb(234,21,122);
        text-decoration: underline;
      }

      .bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        max-width: <%= width + 300 %>px;
      }

      main {
        width: calc(100vw - 315px);
        max-width: <%= width + 16 %>px;
        padding-left: 15px;
        flex-shrink: 1;
        flex-grow: 1;
      }

      aside {
        width: 300px;
        padding-left: 15px;
        overflow: hidden;
        transition: height 1s;
        flex-shrink: 0;
      }
      aside ul {
        padding: 0;
      }
      aside li {
        list-style-type: none;
        margin-bottom: 10px;
      }
      aside li.active a {
        text-decoration: underline;
        font-weight: bold;
      }
      .resp-container {
        position: relative;
        overflow: hidden;
        padding-top: <%= height / width * 100 %>%;
        max-width: <%= width + 16 %>px;
      }
      iframe {
        border: 1px solid #eee;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
      hr:first-of-type {
        display: none;
      }
      pre {
        font-size: 14px;
        overflow: auto;
        word-wrap: normal;
      }
      @media only screen and (max-width: 900px) {
          header h2, header span, header .title {
            display: none;
          }
          main {
            width: 100%;
          }
          .bottom {
            flex-direction: column-reverse;
          }
          .bottom>a {
            margin: 15px;
          }
      }
      <%= style.source('atom-one-light') %>
    </style>
  </head>
  <body>
    <div class="top">
      <header>
        <h1><img src="../misc/logo-inline.png" alt="ELM-VISUALIZATION"/></h1>
        <h2><a href="../">examples</a></h2>
        <span style="margin: 0 10px">/</span>
        <h1 class="title"><%= displayName %></h1>
      </header>
    </div>
    <div class="bottom">
      <main>
        <div class="resp-container">
          <iframe src="<%= iframe %>" frameborder="1" scrolling="no" title="<%= displayName %> example"></iframe>
        </div>
        <% _.each(sources, function(source) { %>
          <h2><%= source.basename %></h2>
          <div class="description"><%= source.firstComment %></div>
          <pre><code class="elm"><%= source.highlighted %></code></pre>
        <% }); %>
      </main>
      <aside>
        <ul>
          <li><a href="https://package.elm-lang.org/packages/gampleman/elm-visualization/latest/">Docs</a></li>
          <li><a href="https://github.com/gampleman/elm-visualization">GitHub</a></li>
          <li><a href="https://github.com/gampleman/elm-visualization/releases">Changelog</a></li>
          <li>#visualization on <a href="https://elmlang.herokuapp.com/">Elm slack</a></li>
        </ul>
        <h2>Examples</h2>
        <ul>
          <% _.each(allExamples, function(example) { %>
            <li <% if (example.name === name) { %>class="active"<% } %>>
              <a href="../<%= example.name %>/"><%= example.displayName %></a>
            </li>
          <% }); %>
        </ul>
      </aside>
    </div>
    <script>
      if (window.matchMedia('(max-width: 900px)').matches) {
        var sidebar = document.querySelector('.bottom aside');
        sidebar.style.height = '0';
        var link = document.createElement('a');
        link.href = "#";
        link.innerText = "Menu";
        open = false;
        link.addEventListener('click', function() {
          open = !open;
          sidebar.style.height = open ? 'auto' : '0';
        })
        document.querySelector('.bottom').appendChild(link);
      }
      if ('serviceWorker' in navigator && location.hostname !== "localhost" || location.hostname !== "127.0.0.1") {
        navigator.serviceWorker.register('../service-worker.js');
      }
    </script>
  </body>
</html>
